{% extends 'base.html' %}

{% block content %}
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="box has-background-dark">
                        <h1 class="title has-text-white has-text-centered">
                            <i class="fas fa-8ball"></i> Sinuca Online
                        </h1>
                        <form method="post" class="mt-5">
                            {% csrf_token %}
                            
                            <div class="field">
                                <label class="label has-text-white">Usuário</label>
                                <div class="control has-icons-left">
                                    {{ form.username }}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label class="label has-text-white">Senha</label>
                                <div class="control has-icons-left">
                                    {{ form.password }}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field mt-6">
                                <button type="submit" class="button is-primary is-fullwidth">
                                    Entrar
                                </button>
                            </div>
                            
                            <div class="has-text-centered mt-4">
                                <p class="has-text-white">Novo por aqui? 
                                    <a href="{% url 'jogo:cadastro' %}" class="has-text-link">Crie uma conta</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}