{% extends 'jogo/base.html' %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        <div class="box">
            <h1 class="title">Ranking de Jogadores</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Jogador</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.pontuacao_maxima }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}