{% extends 'jogo/base.html' %}
{% load static %}

{% block title %}Sobre o Projeto{% endblock %}

{% block content %}
<div class="sobre-container section">
    <div class="container">
        <h1 class="title has-text-white">Sobre o Projeto Sinuca Online</h1>
        
        <section class="tecnologias mb-6">
            <h2 class="subtitle has-text-white">Tecnologias Utilizadas</h2>
            <div class="columns">
                <div class="column">
                    <div class="box has-background-grey">
                        <h3 class="title is-5 has-text-white">Backend e Frontend</h3>
                        <figure class="image is-128x128 mx-auto">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" alt="Django">
                        </figure>
                        <p class="has-text-white mt-3">
                            Desenvolvido com Django para gestão de usuários, autenticação e lógica do servidor
                        </p>
                    </div>
                </div>
                
                <div class="column">
                    <div class="box has-background-grey">
                        <h3 class="title is-5 has-text-white">Jogo</h3>
                        <figure class="image is-128x128 mx-auto">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/lua/lua-original.svg" alt="Lua e Love2D">
                        </figure>
                        <p class="has-text-white mt-3">
                            Jogo desenvolvido em Lua com Love2D e convertido para Web usando love.js
                        </p>
                    </div>
                </div>
            </div>
        </section>

       <!-- <section class="estrutura-projeto mb-6">
            <h2 class="subtitle has-text-white">Estrutura do Projeto</h2>
            <div class="box has-background-grey">
                <pre class="has-text-white">{{ estrutura_projeto }}</pre>
            </div>
        </section>-->

        <section class="diagramas mb-6">
            <h2 class="subtitle has-text-white">Diagramas do Sistema</h2>
            <div class="columns">
                <div class="column">
                    <div class="box has-background-grey">
                        <h3 class="title is-5 has-text-white">Diagrama de Casos de Uso</h3>
                        <figure class="image">
                            <img src="{% static 'jogo/diagramas/casos_uso.png' %}" alt="Casos de Uso">
                        </figure>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey">
                        <h3 class="title is-5 has-text-white">Diagrama de Classes</h3>
                        <figure class="image">
                            <img src="{% static 'jogo/diagramas/classes.png' %}" alt="Classes">
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <section class="funcionamento-jogo">
            <div class="box has-background-grey">
                <h2 class="subtitle has-text-white">Como o Jogo Funciona</h2>
                <div class="content has-text-white">
                    <ol>
                        <li>Desenvolvimento do jogo em Lua com Love2D</li>
                        <li>Conversão para Web usando love.js</li>
                    </ol>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}