<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="title is-5">CoolSnooker</h3>
          <p>O melhor jogo de sinuca online!</p>
        </div>
        <div class="column">
          <h3 class="title is-5">Links</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/play/">Jogar</a></li>
            <li><a href="/about/">Sobre</a></li>
          </ul>
        </div>
        <div class="column">
          <h3 class="title is-5">Contato</h3>
          <p>contato@coolsnooker.com</p>
        </div>
      </div>
      <div class="content has-text-centered">
        <p>
          © 2023 CoolSnooker - Todos os direitos reservados
        </p>
      </div>
    </div>
  </footer>