<footer class="footer has-background-dark has-text-white">
    <div class="container">
        <div class="columns">
            <!-- Coluna 1: Sobre -->
            <div class="column">
                <h4 class="title is-4 has-text-white">CoolSnooker</h4>
                <p class="has-text-grey-light">
                    O melhor jogo de sinuca online, desenvolvido com Django e Bulma.
                </p>
            </div>
            
            <!-- Coluna 2: Links rápidos -->
            <div class="column">
                <h4 class="title is-4 has-text-white">Links</h4>
                <ul>
                    <li><a class="has-text-primary" href="{% url 'main:home' %}">Home</a></li>
                    <li><a class="has-text-primary" href="{% url 'main:play' %}">Jogar</a></li>
                    <li><a class="has-text-primary" href="{% url 'main:about' %}">Sobre</a></li>
                </ul>
            </div>
            
            <!-- Coluna 3: Contato -->
            <div class="column">
                <h4 class="title is-4 has-text-white">Contato</h4>
                <p class="has-text-grey-light">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>contato@coolsnooker.com</span>
                    </span>
                </p>
            </div>
        </div>
        
        <div class="content has-text-centered">
            <p class="has-text-grey-light">
                © {% now "Y" %} CoolSnooker. Todos os direitos reservados.
            </p>
        </div>
    </div>
</footer>