<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'main:home' %}">
            <strong>CoolSnooker</strong>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'main:play' %}">
                Jogar
            </a>
            <a class="navbar-item" href="{% url 'main:about' %}">
                Sobre
            </a>
        </div>
    </div>
</nav>